.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 0rem 0rem;
}

.header img {
    width: 96px;
}

.header h1 {
    text-align: center;
}